---
import Layout from '../layouts/Layout.astro';
import ToolBar from '../components/ToolBar.astro';
import Footer from '../components/Footer.astro';
import Content from '../components/Content.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Jonathan Gelin">
  <section class="mt-2 z-50">
    <div>
      <ToolBar />
    </div>
  </section>

  <section class="border-b border-primary h-[calc(100vh-48px)]">
    <div class="flex justify-center items-center h-full">
      <Hero />
    </div>
  </section>
  
  <section class="bg-slate-50 py-10 border-b border-primary">
    <div class="grid grid-cols-2 md:grid-cols-4 uppercase text-slate-900">
      <div class="mx-auto">
        <img class="h-40" src="/icons/consultancy.svg" />
        <div class="text-center text-2xl mt-2">Coaching</div>
      </div>
      <div class="mx-auto">
        <img class="h-40" src="/icons/online-training.svg" />
        <div class="text-center text-2xl mt-2">TRAINING</div>
      </div>
      <div class="mx-auto">
        <img class="h-40" src="/icons/binary-code.svg" />
        <div class="text-center text-2xl mt-2">Coding</div>
      </div>
      <div class="mx-auto">
        <img class="h-40" src="/icons/profits.svg" />
        <div class="text-center text-2xl mt-2">DevOps</div>
      </div>
    </div>
  </section>

  <section class="bg-slate-200 dark:bg-slate-600 py-10">
    <div>
      <Content />
    </div>
  </section>

  <section class=" border-t border-primary">
    <div>
      <Footer />
    </div>
  </section>

</Layout>
  <style>
    section > :first-child {
      @apply container mx-auto;
    }
    .column {
      break-inside: avoid; /* Prevents items from breaking between columns */
    }
  </style>
