---
import Layout from '../layouts/Layout.astro';
import ToolBar from '../components/ToolBar.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Jonathan Gelin">
  <main class="grid gap-28 grid-cols-1">
      <ToolBar />

      <Hero />

    <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
      <div class="grid gap-4">
        <a href="/blog" class="tile bg-sky-700 hover:bg-sky-600">
          <h2>Blog</h2>
          <img class="card-icon" src="public/icons/article.svg" alt="Blog" />
        </a>
        <a class="tile bg-emerald-700 hover:bg-emerald-600">
          <h2>Projects</h2>
          <img class="card-icon" src="public/icons/project.svg" alt="Projects" />
        </a>
        <a class="tile bg-amber-700 hover:bg-amber-600">
          <h2>About</h2>
          <img class="card-icon" src="public/icons/about.svg" alt="About" />
        </a>
      </div>
      <div class="grid gap-4">
        <a class="tile bg-rose-700 hover:bg-rose-600">
          <h2>Skills</h2>
          <img class="card-icon" src="public/icons/skills.svg" alt="Skills" />
        </a>
        <a class="tile bg-teal-700 hover:bg-teal-600">
          <h2>Contact</h2>
          <img class="card-icon" src="public/icons/contact.svg" alt="Contact" />
        </a>
        <a class="tile bg-orange-700 hover:bg-orange-600">
          <h2>Resume</h2>
          <img class="card-icon" src="public/icons/resume.svg" alt="Resume" />
        </a>
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    @apply mx-auto w-[calc(100%-2rem)] max-w-[800px] pt-1 px-4 leading-relaxed;
  }

  .tile {
    @apply grid h-auto max-w-full place-content-center rounded p-8 transition-colors duration-300;
  }

  .card-icon {
    @apply h-48 w-48;
  }

  h2 {
    @apply mb-8 text-center text-5xl uppercase;
  }
</style>

