<div class="flex h-full flex-col items-center justify-center">
  <div class="flex items-center justify-center">
    <img alt="sdlc" src="/icons/strategy-development.svg" class="mx-auto h-32 animate-[spin_10s_linear_infinite] 2xl:h-48" />
  </div>
  <div class="mt-14 flex flex-col justify-center text-center text-5xl md:text-7xl">
    <p class="mx-auto text-center text-5xl md:text-7xl">
      Make Your<br /> Software Development Cycle<br />
      <span class="curved-underline">Smarter</span>
    </p>
  </div>
  <div class="mt-14 flex flex-col justify-center">
    <p class="text-secondary text-center text-lg sm:text-2xl">
      by building scalable <span class="text-primary">Monorepos</span> with <a href="https://nx.dev/" class="link-primary active">Nx</a>, dynamic <span
        class="text-primary">Micro Frontends</span
      >, cohesive <span class="text-primary"> Design Systems</span>, and efficient <span class="text-primary">Testing Strategies</span>—supercharged by <span
        class="text-yellow-500">AI</span
      > to streamline, automate, and accelerate every process.
    </p>
  </div>
</div>
