<div class="flex h-full flex-col items-center justify-center">
  <div class="-mt-32 flex items-center justify-center">
    <img alt="sdlc" src="/icons/strategy-development.svg" class="mx-auto h-32 animate-[spin_10s_linear_infinite] 2xl:h-48" />
  </div>
  <div class="mt-24 flex flex-col justify-center text-center text-5xl md:text-7xl">
    <p class="mx-auto text-center text-4xl leading-tight md:text-7xl">
      <span class="text-yellow-500">Smarter</span><br />
      <span class="text-primary">S</span>oftware <span class="text-primary">D</span>evelopment <span class="text-primary">L</span>ife <span class="text-primary"
        >C</span
      >ycle
    </p>
  </div>
  <div class="mt-14 flex flex-col justify-center">
    <p class="text-secondary text-center text-lg sm:text-2xl">
      by leveraging <a href="https://nx.dev/" class="link-primary active">Nx</a> to make scalable <span class="text-primary">Monorepos</span>, dynamic <span
        class="text-primary">Micro Frontends</span
      >, cohesive <span class="text-primary"> Design Systems</span>, and efficient <span class="text-primary">Testing Strategies</span>
    </p>
    <p class="mt-5 text-center text-xl text-yellow-500 sm:text-3xl">- Supercharged by AI -</p>
  </div>
</div>
