<div class="grid h-full pt-12 gap-0">
  <div class="mx-auto mb-4 flex items-end">
    <div class="relative">
      <img src="/avatar.png" alt="Avatar" class="relative z-10 h-32 w-32 object-cover shadow-md" />
      <div class="border-primary absolute inset-0 h-32 w-32 -rotate-6 border-2"></div>
    </div>
  </div>
  <div class="mx-auto flex flex-col items-center justify-center shrink">
    <h1>
      Hi, I'm <span class="text-xl text-primary">Jonathan</span> 🤘 <br />
    </h1>
      <div class="text-sm">📺 <a href="https://www.youtube.com/watch?v=OXFrZ1-n1oY" class="link-primary uppercase" target="_blank"> Watch this</a></div>
  </div>
  <div class="flex flex-col justify-center">
    <p class="mb-12 text-center text-5xl md:text-7xl">
      Making Software<br /> Development Cycle<br />
      <span class="curved-underline">Smarter</span>
      <img src="/icons/strategy-development.svg" class="inline h-16" />
    </p>
    <p class="text-secondary text-center text-xl">
      by utilizing <a href="https://nx.dev/" class="link-primary active">Nx</a>, scalable <span class="text-primary">Monorepos</span>, flexible
      <span class="text-primary">Micro Frontends</span>, <br />robust <span class="text-primary">Testing Strategies</span>, and a touch of <span
        class="text-primary">Extreme Programming</span
      > philosophy.
    </p>
  </div>
  <div class="flex h-full items-center justify-center gap-8">
    <img class="h-24" src="/nx-champion.png" />
    <img class="h-24" src="/nx-expert.png" />
  </div>
</div>

<style>
  .curved-underline {
    @apply relative;
  }

  .curved-underline:after {
    content: '';
    @apply border-primary absolute left-0 w-full border-t-4;
    bottom: -20px;
    border-radius: 80%;
    height: 20px;
  }
</style>
