<div class="flex gap-6">
  <div class="flex-shrink-0 content-center">
    <div class="relative">
      <img src="/avatar.png" alt="Avatar" class="relative z-10 h-48 w-48 rounded border-2 border-green-500 object-cover" />
      <div class="bg-green-grey absolute inset-0 h-48 w-48 -rotate-6 rounded border-2 border-green-500/30"></div>
    </div>
  </div>
  <div class="flex flex-col justify-center space-y-4">
    <h1 class="text-5xl">
      Hi, I'm <span class="underline decoration-green-500 decoration-1 underline-offset-8"
        ><span class="text-green-500">Jonathan</span> Gelin</span
      >
    </h1>
    <p class="text-2xl">Software Engineer, Writer, Speaker and Dad</p>
    <p class="text-slate-400">
      I support companies through their software development cycle challenges by utilizing <span class="text-green-500">Nx</span> monorepos, <span
        class="text-green-500">Micro Frontends</span
      >, robust <span class="text-green-500">Testing Strategies</span>, and a touch of <span class="text-green-500">Extreme Programming</span> philosophy.
    </p>
  </div>
</div>
