<div class="flex flex-col gap-6 lg:flex-row">
  <div class="flex-shrink-0 content-center">
    <div class="relative">
      <img src="/avatar.png" alt="Avatar" class="relative z-10 h-52 w-52 object-cover shadow-md" />
      <div class="border-primary absolute inset-0 h-52 w-52 -rotate-6 border-2"></div>
    </div>
  </div>
  <div class="flex flex-col justify-center space-y-5 lg:ml-2">
    <h1 class="text-5xl">
      Hi, I'm <span class="text-primary decoration-primary underline decoration-1 underline-offset-8">Jonathan</span> Gelin
    </h1>
    <p class="text-3xl">Software Engineer, Coach, Writer, Speaker and Dad</p>
    <p class="text-secondary text-2xl">
      I support companies through their software development cycle challenges by utilizing <a href="https://nx.dev/" class="link-primary active">Nx</a> monorepos,
      <span class="text-primary">Micro Frontends</span>, robust <span class="text-primary">Testing Strategies</span>, and a touch of <span class="text-primary"
        >Extreme Programming</span
      > philosophy. 
    
      📺 <a href="https://www.youtube.com/watch?v=OXFrZ1-n1oY" class="link-primary active" target="_blank"> Want to know more?</a>
    </p>
  </div>
</div>
