<div class="flex h-full flex-col items-center justify-center">
  <div class="flex items-center justify-center">
    <img alt="sdlc" src="/icons/strategy-development.svg" class="mx-auto h-32 animate-[spin_10s_linear_infinite] 2xl:h-48" />
  </div>
  <div class="mt-14 flex flex-col justify-center text-center text-5xl md:text-7xl">
    <p class="mx-auto text-center text-5xl md:text-7xl">
      Make Your<br /> Software Development Cycle<br />
      <span class="curved-underline">Smarter</span>
    </p>
  </div>
  <div class="mt-14 flex flex-col justify-center">
    <p class="text-secondary text-center text-lg sm:text-2xl">
      by utilizing <a href="https://nx.dev/" class="link-primary active">Nx</a>, scalable <span class="text-primary">Monorepos</span>, flexible
      <span class="text-primary">Micro Frontends</span>, integrated<span class="text-primary"> Design Systems</span>, robust <span class="text-primary"
        >Testing Strategies</span
      >, and a touch of <span class="text-primary">Extreme Programming</span> philosophy.
    </p>
  </div>
</div>
