---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/avatar.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      @apply bg-slate-50 text-slate-900 transition-colors duration-300 dark:bg-slate-900 dark:text-slate-100;
    }

    .text-primary {
      @apply text-green-700 dark:text-green-500;
    }

    .text-secondary {
      @apply text-slate-500 dark:text-slate-400;
    }

    a.link-primary {
      @apply text-secondary decoration-primary;
    }

    a.link-primary:hover, a.link-primary.active {
      @apply text-primary underline decoration-1 underline-offset-2;
    }

    .decoration-primary {
      @apply decoration-green-700 dark:decoration-green-500;
    }

    .border-primary {
      @apply border-green-700 dark:border-green-500;
    }
  }
</style>
